@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(53, 53, 53);
}
a {
  text-decoration: none;
}
h1 {
  font-weight: 300;
  font-size: 60px;
  text-align: left;
  color: black;
  line-height: 40px;
  margin-top: 80px;
  margin-bottom: none;

}

h2 {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #424242;
}

h3 {
  font-size: 20px;
  color:black;
}
h4 {
  font-size: 20px;
  text-align: center;
  color:rgb(197, 197, 197);
}
#overlay {
  
  width:100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay img {
  text-align: center;
  height: 70%;
  width: 100%;
  object-fit: contain;
}


.image-overlay {
text-align: left;
width: 100%;
height: 100%;  
position:absolute;
background: linear-gradient(to top left, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.15) 50%,WHITE 50%);
opacity: 0%;
pointer-events: none;
}


.image-overlay-copy {
  width: 50%;
  position:absolute;
  padding: 10px;
  opacity: 100%;
  opacity: 0;
  z-index: 2;
 
}
.grid {
  margin:auto;
  display: flex;
  width: 900px;
  flex-flow: column wrap;
  align-content: space-between;
  gap: 20px;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  max-height: 800px; 
}

.footer {
  margin-left:auto;
  margin-right:auto;
  width: 900px;
  
}

.social-icons {
  width: 50px;
  margin-right: 8px;
  text-decoration: none;
}
.social-icons:hover {
  opacity: 50%;
}
.item {
  position: relative;
  width: 33%;
  z-index: 0;
  
}

.item:hover .image-overlay {
  opacity: 30%;
}

.item:hover .image-overlay-copy {
  opacity: 100%;
}


/* Re-order items into 3 rows */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* Force new columns */
.grid::before,
.grid::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.grid img {
  width: 100%;
  z-index: 0;
}


.App {
  text-align: left;
  background-color: #d5d5d5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
